.brackets {
  min-width: 1000px;
  height: 750px;
  display: flex;
  justify-content: space-between;
}

.quarter-finals-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quarter-finals-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.semi-finals {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.semi-finals-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}

.semi-finals-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}

.winner {
  display: flex;
  justify-content: center;
  border: solid #00000026 3px;
  font-size: xx-large;
  background-color: cornsilk;
}

@import 'Box/Box.css';