.box {
  width: 300px;
  height: 100px;
  border: solid lightsteelblue 2px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: xx-large;
}